body {
    font-family: arial, sans-serif;
    font-size: 1em;
}

.full-width {
    width:100%;
}

.centred {
    text-align: center;
}

input { 
    top: 15px;
    width: 30%;
    position: relative;
}

.button {
    margin: 15px;
    top: 30px;
    padding: 8px;
    font-weight: 700;
    font-size: 0.7rem;
    color: #333;
    background-color: #eee;
    position: relative;
    border: solid #ccc 1px;
    border-radius: 2px;
}

.button:hover {
    border: solid #bbb 1px;
    border-bottom: solid #bbb 2px;
    border-radius: 2px;
}

#countryid {
    color: #777;
    font-weight: 700;
    top: -10px;
    left: -53px;
    position: relative;
}